img {
    width: 300px;
    height: auto;
    float: left;
    margin: 15px;
    padding-right: 5px;
    
}
#image{
    width: 350px;

}

#icon {

    width: 40px;
    height: auto;
    color: teal;
    
}
