.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#About{
width: 90%;
margin: 30px;
background-color:white;
border: solid teal 1px;
border-radius: 5px;
padding: 20px;

}
.App-header {
  background-color:teal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  font-size: 16pt;
}

.container{
  background: white;
  margin-top: 30px;
  border: solid 1px teal;
  border-radius: 5px;
  padding: 25px;
}
ul {
  border: none;
  padding-bottom: 30px;

}
#icon {
  size: 70px;

}
#contactDetails{
  border: none;
}

#Image {
  position: relative;
}

